In [1]:
from IPython.utils import io
import pandas as pd
import os
from pathlib import Path
from matplotlib import pyplot as plt
from scipy.signal import find_peaks
import numpy as np
import seaborn as sns
import time
import joblib
from os.path import exists
import shutil
import sys
import time

from sklearn.model_selection import train_test_split
#From my EEG package 
import run_expts

#Let me see as many results as I want to see
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
clf_list = ['Rocket', 'HIVECOTE2', 'C_I_F', 'Dr_C_I_F', 'Inception_Time']

#Results dictionary structure : {model : {expt_type : {folder : results_df }}}
results_dict = {}
for clf in clf_list:
    results_dict[clf] = {1 : {} , 2 : {}}

core_path = '/export/sphere/ebirah/ko20929/RBD_files/notebooks/frequency_analysis/constructed_data/band_power_time_series/expt_dfs/'

folders = ['N1_customised_40_expt_files', 'N2_120_expt_files_v2', 'N3_82_expt_files', 'REM_19_expt_files', 'EC_8_expts',
           'N1_full_expts', 'N2_full_expts', 'N3_full_expts', 'REM_full_expts', 'EC_full_expts']

files_not_found = []

for num in [1,2]:
    for folder in folders:
        for clf in clf_list:
            try:
                save_path = 'Results/Results_1/' + clf + 'expt_type_' + str(num) + '_' + folder + 'int_df.h5'
                results_df = pd.read_hdf(save_path , key='df', mode='r')
            except FileNotFoundError:
                files_not_found.append(save_path)
                continue
                
            res_df = run_expts.generate_subset_acc_std(results_df, return_df = True)           
            results_dict[clf][num][folder] = res_df

In [4]:
# print(list(results_dict['Rocket'][1].keys() ))
for clf in clf_list:
    print(clf)
    for num in [1,2]:
        print('Expt Type: ' + str(num))
        not_displayed = []
        for key in list(results_dict[clf][num].keys() ):
            df = results_dict[clf][num][key].copy()
            cols_to_drop = [col for col in df.columns if df[col].mean() < 0.70]
            df = df.drop(cols_to_drop, axis = 1 )
            if len(df.columns) < 2:
                not_displayed.append(key)
                continue
            print(key)
            display(df)
        print(not_displayed)

Rocket
Expt Type: 1
N1_customised_40_expt_files

,random_state,Right Frontal_Rocket_acc,Right Central_Rocket_acc,Left Parietal_Rocket_acc
0,13,0.696111,0.711111,0.711111
1,37,0.776111,0.755556,0.711111

N2_120_expt_files_v2

   random_state  Left Temporal_Rocket_acc
0            13                  0.793651
1            37                  0.696825

N1_full_expts

,random_state,Frontal_Rocket_acc,Left Frontal_Rocket_acc,Right Frontal_Rocket_acc,Central_Rocket_acc,Left Central_Rocket_acc,Right Central_Rocket_acc,Left Temporal_Rocket_acc,Right Temporal_Rocket_acc,Parietal_Rocket_acc,Left Parietal_Rocket_acc,Occipital_Rocket_acc
0,13,0.736111,0.688889,0.668889,0.800556,0.709444,0.803333,0.728889,0.731111,0.756111,0.711667,0.733333
1,37,0.736111,0.713889,0.758889,0.661111,0.713889,0.778333,0.825556,0.733333,0.713889,0.716111,0.736111

['N3_82_expt_files', 'REM_19_expt_files', 'EC_8_expts', 'N2_full_expts', 'N3_full_expts', 'REM_full_expts', 'EC_full_expts']
Expt Type: 2
N2_120_expt_files_v2

   random_state  Right Frontal_Rocket_acc  Right Central_Rocket_acc
0            13                  0.713889                  0.763889
1            37                  0.753968                  0.675397

['N1_customised_40_expt_files', 'N3_82_expt_files', 'REM_19_expt_files', 'EC_8_expts', 'N1_full_expts', 'N2_full_expts', 'N3_full_expts', 'REM_full_expts', 'EC_full_expts']
HIVECOTE2
Expt Type: 1
N1_customised_40_expt_files

   random_state  Left Central_HIVECOTE2_acc  Right Temporal_HIVECOTE2_acc
0            13                    0.716111                      0.691111
1            37                    0.686111                      0.733333

N2_120_expt_files_v2

   random_state  Left Parietal_HIVECOTE2_acc
0            13                     0.788889
1            37                     0.629524

N1_full_expts

,random_state,Prefrontal_HIVECOTE2_acc,Frontal_HIVECOTE2_acc,Left Frontal_HIVECOTE2_acc,Right Frontal_HIVECOTE2_acc,Central_HIVECOTE2_acc,Left Central_HIVECOTE2_acc,Right Central_HIVECOTE2_acc,Left Temporal_HIVECOTE2_acc,Right Temporal_HIVECOTE2_acc,Parietal_HIVECOTE2_acc,Left Parietal_HIVECOTE2_acc,Right Parietal_HIVECOTE2_acc,Occipital_HIVECOTE2_acc
0,13,0.716111,0.805556,0.788333,0.711111,0.800556,0.826111,0.806111,0.828889,0.808333,0.828333,0.800556,0.751111,0.786111
1,37,0.733333,0.733333,0.733333,0.803333,0.683333,0.780556,0.760556,0.805556,0.733333,0.753333,0.753333,0.733333,0.778333

['N3_82_expt_files', 'REM_19_expt_files', 'EC_8_expts', 'N2_full_expts', 'N3_full_expts', 'REM_full_expts', 'EC_full_expts']
Expt Type: 2
['N1_customised_40_expt_files', 'N2_120_expt_files_v2', 'N3_82_expt_files', 'REM_19_expt_files', 'EC_8_expts', 'N1_full_expts', 'N2_full_expts', 'N3_full_expts', 'REM_full_expts', 'EC_full_expts']
C_I_F
Expt Type: 1
EC_8_expts

   random_state  Occipital_C_I_F_acc
0            13                 0.88
1            37                 0.84

EC_full_expts

   random_state  Left Parietal_C_I_F_acc
0            13                 0.652381
1            37                 0.766667

['N1_customised_40_expt_files', 'N2_120_expt_files_v2', 'N3_82_expt_files', 'REM_19_expt_files', 'N1_full_expts', 'N2_full_expts', 'N3_full_expts', 'REM_full_expts']
Expt Type: 2
EC_8_expts

   random_state  Right Frontal_C_I_F_acc
0            13                 0.676190
1            37                 0.728571

['N1_customised_40_expt_files', 'N2_120_expt_files_v2', 'N3_82_expt_files', 'REM_19_expt_files', 'N1_full_expts', 'N2_full_expts', 'N3_full_expts', 'REM_full_expts', 'EC_full_expts']
Dr_C_I_F
Expt Type: 1
EC_8_expts

   random_state  Occipital_Dr_C_I_F_acc
0            13                    0.84
1            37                    0.80

N1_full_expts

,random_state,Prefrontal_Dr_C_I_F_acc,Left Frontal_Dr_C_I_F_acc,Left Central_Dr_C_I_F_acc,Parietal_Dr_C_I_F_acc
0,13,0.648889,0.721111,0.718889,0.691111
1,37,0.777778,0.735556,0.730556,0.755556

['N1_customised_40_expt_files', 'N2_120_expt_files_v2', 'N3_82_expt_files', 'REM_19_expt_files', 'N2_full_expts', 'N3_full_expts', 'REM_full_expts', 'EC_full_expts']
Expt Type: 2
EC_8_expts

   random_state  Right Frontal_Dr_C_I_F_acc
0            13                    0.676190
1            37                    0.752381

['N1_customised_40_expt_files', 'N2_120_expt_files_v2', 'N3_82_expt_files', 'REM_19_expt_files', 'N1_full_expts', 'N2_full_expts', 'N3_full_expts', 'REM_full_expts', 'EC_full_expts']
Inception_Time
Expt Type: 1
N2_120_expt_files_v2

   random_state  Right Temporal_Inception_Time_acc
0            13                           0.731746
1            37                           0.684762

['N1_customised_40_expt_files', 'N3_82_expt_files']
Expt Type: 2
['N1_customised_40_expt_files', 'N2_120_expt_files_v2', 'N3_82_expt_files']