In [1]:
from IPython.utils import io
import pandas as pd
import os
from pathlib import Path
from matplotlib import pyplot as plt
from scipy.signal import find_peaks
import numpy as np
import seaborn as sns
import time
import joblib
from os.path import exists
import shutil
import sys
import time

from sklearn.model_selection import train_test_split
#From my EEG package 
import run_expts

#Let me see as many results as I want to see
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
clf_list = ['Rocket', 'HIVECOTE2', 'C_I_F', 'Dr_C_I_F', 'Inception_Time']

#Results dictionary structure : {model : {expt_type : {folder : results_df }}}
results_dict = {}
for clf in clf_list:
    results_dict[clf] = {1 : {} , 2 : {}}

core_path = '/export/sphere/ebirah/ko20929/RBD_files/notebooks/frequency_analysis/constructed_data/band_power_time_series/expt_dfs/'

folders = ['N1_customised_40_expt_files', 'N2_120_expt_files_v2', 'N3_82_expt_files', 'REM_19_expt_files', 'EC_8_expts',
           'N1_full_expts', 'N2_full_expts', 'N3_full_expts', 'REM_full_expts', 'EC_full_expts']

files_not_found = []

for num in [1,2]:
    for folder in folders:
        for clf in clf_list:
            try:
                save_path = 'Results/Results_1/' + clf + 'expt_type_' + str(num) + '_' + folder + 'int_df.h5'
                results_df = pd.read_hdf(save_path , key='df', mode='r')
            except FileNotFoundError:
                files_not_found.append(save_path)
                continue
                
            res_df = run_expts.generate_subset_acc_std(results_df, return_df = True)           
            results_dict[clf][num][folder] = res_df

In [3]:
# print(list(results_dict['Rocket'][1].keys() ))
for clf in clf_list:
    print(clf)
    for num in [1,2]:
        print('Expt Type: ' + str(num))
        not_displayed = []
        for key in list(results_dict[clf][num].keys() ):
            df = results_dict[clf][num][key].copy()
            cols_to_drop = [col for col in df.columns if df[col].mean() < 0.60]
            df = df.drop(cols_to_drop, axis = 1 )
            if len(df.columns) < 2:
                not_displayed.append(key)
                continue
            print(key)
            display(df)
        print(not_displayed)

Rocket
Expt Type: 1
N1_customised_40_expt_files

,random_state,Prefrontal_Rocket_acc,Frontal_Rocket_acc,Left Frontal_Rocket_acc,Right Frontal_Rocket_acc,Central_Rocket_acc,Left Central_Rocket_acc,Right Central_Rocket_acc,Left Temporal_Rocket_acc,Right Temporal_Rocket_acc,Parietal_Rocket_acc,Left Parietal_Rocket_acc,Right Parietal_Rocket_acc,Occipital_Rocket_acc
0,13,0.596667,0.690556,0.623889,0.696111,0.646111,0.666111,0.711111,0.601667,0.507222,0.598889,0.711111,0.568889,0.671111
1,37,0.725556,0.708333,0.755556,0.776111,0.681111,0.683889,0.755556,0.711111,0.703333,0.728333,0.711111,0.638889,0.711111

N2_120_expt_files_v2

,random_state,Prefrontal_Rocket_acc,Left Frontal_Rocket_acc,Right Frontal_Rocket_acc,Central_Rocket_acc,Left Temporal_Rocket_acc
0,13,0.749206,0.714286,0.753968,0.698413,0.793651
1,37,0.599365,0.488254,0.590476,0.516825,0.696825

N3_82_expt_files

,random_state,Right Frontal_Rocket_acc,Right Temporal_Rocket_acc,Occipital_Rocket_acc
0,13,0.663492,0.539683,0.647619
1,37,0.656508,0.700952,0.650159

REM_19_expt_files

   random_state  Prefrontal_Rocket_acc
0            13               0.552857
1            37               0.659444

EC_8_expts

,random_state,Frontal_Rocket_acc,Right Temporal_Rocket_acc,Occipital_Rocket_acc
0,13,0.64,0.56,0.64
1,37,0.56,0.80,0.72

N1_full_expts

,random_state,Prefrontal_Rocket_acc,Frontal_Rocket_acc,Left Frontal_Rocket_acc,Right Frontal_Rocket_acc,Central_Rocket_acc,Left Central_Rocket_acc,Right Central_Rocket_acc,Left Temporal_Rocket_acc,Right Temporal_Rocket_acc,Parietal_Rocket_acc,Left Parietal_Rocket_acc,Right Parietal_Rocket_acc,Occipital_Rocket_acc
0,13,0.638889,0.736111,0.688889,0.668889,0.800556,0.709444,0.803333,0.728889,0.731111,0.756111,0.711667,0.639444,0.733333
1,37,0.736111,0.736111,0.713889,0.758889,0.661111,0.713889,0.778333,0.825556,0.733333,0.713889,0.716111,0.688889,0.736111

N2_full_expts

   random_state  Left Central_Rocket_acc
0            13                 0.629444
1            37                 0.600000

N3_full_expts

   random_state  Occipital_Rocket_acc
0            13              0.622222
1            37              0.577778

REM_full_expts

   random_state  Right Parietal_Rocket_acc  Occipital_Rocket_acc
0            13                   0.650873              0.628651
1            37                   0.595000              0.599444

EC_full_expts

   random_state  Right Frontal_Rocket_acc
0            13                  0.590476
1            37                  0.633333

[]
Expt Type: 2
N2_120_expt_files_v2

,random_state,Prefrontal_Rocket_acc,Left Frontal_Rocket_acc,Right Frontal_Rocket_acc,Central_Rocket_acc,Right Central_Rocket_acc,Left Temporal_Rocket_acc,Right Temporal_Rocket_acc,Parietal_Rocket_acc,Right Parietal_Rocket_acc
0,13,0.708333,0.688889,0.713889,0.663889,0.763889,0.661111,0.719444,0.688889,0.672222
1,37,0.631746,0.586508,0.753968,0.688095,0.675397,0.630952,0.599603,0.561508,0.605952

N3_82_expt_files

   random_state  Right Frontal_Rocket_acc  Central_Rocket_acc
0            13                  0.626667            0.604444
1            37                  0.595571            0.607925

N2_full_expts

   random_state  Left Frontal_Rocket_acc  Right Frontal_Rocket_acc
0            13                 0.606970                  0.617424
1            37                 0.662121                  0.624242

REM_full_expts

   random_state  Right Central_Rocket_acc
0            13                  0.652727
1            37                  0.559324

['N1_customised_40_expt_files', 'REM_19_expt_files', 'EC_8_expts', 'N1_full_expts', 'N3_full_expts', 'EC_full_expts']
HIVECOTE2
Expt Type: 1
N1_customised_40_expt_files

,random_state,Frontal_HIVECOTE2_acc,Left Frontal_HIVECOTE2_acc,Right Frontal_HIVECOTE2_acc,Central_HIVECOTE2_acc,Left Central_HIVECOTE2_acc,Right Central_HIVECOTE2_acc,Left Temporal_HIVECOTE2_acc,Right Temporal_HIVECOTE2_acc,Parietal_HIVECOTE2_acc,Left Parietal_HIVECOTE2_acc,Occipital_HIVECOTE2_acc
0,13,0.713333,0.557222,0.629444,0.668333,0.716111,0.621667,0.651667,0.691111,0.601667,0.559444,0.648889
1,37,0.686111,0.708333,0.711111,0.680556,0.686111,0.680556,0.683333,0.733333,0.683333,0.708333,0.683333

N2_120_expt_files_v2

,random_state,Prefrontal_HIVECOTE2_acc,Frontal_HIVECOTE2_acc,Right Frontal_HIVECOTE2_acc,Central_HIVECOTE2_acc,Left Central_HIVECOTE2_acc,Right Central_HIVECOTE2_acc,Left Temporal_HIVECOTE2_acc,Left Parietal_HIVECOTE2_acc
0,13,0.693651,0.709524,0.709524,0.687302,0.731746,0.676190,0.793651,0.788889
1,37,0.579048,0.527619,0.516825,0.539048,0.573968,0.567619,0.596190,0.629524

N3_82_expt_files

,random_state,Frontal_HIVECOTE2_acc,Left Frontal_HIVECOTE2_acc,Right Frontal_HIVECOTE2_acc,Central_HIVECOTE2_acc,Left Central_HIVECOTE2_acc,Right Temporal_HIVECOTE2_acc,Parietal_HIVECOTE2_acc,Left Parietal_HIVECOTE2_acc,Right Parietal_HIVECOTE2_acc,Occipital_HIVECOTE2_acc
0,13,0.596825,0.641270,0.663492,0.612698,0.647619,0.612698,0.574603,0.641270,0.619048,0.625397
1,37,0.625714,0.603492,0.647937,0.647937,0.658730,0.647937,0.692381,0.583492,0.627937,0.670159

REM_19_expt_files

,random_state,Prefrontal_HIVECOTE2_acc,Frontal_HIVECOTE2_acc,Left Frontal_HIVECOTE2_acc,Right Frontal_HIVECOTE2_acc,Central_HIVECOTE2_acc,Left Central_HIVECOTE2_acc,Right Central_HIVECOTE2_acc,Left Temporal_HIVECOTE2_acc,Right Temporal_HIVECOTE2_acc,Parietal_HIVECOTE2_acc,Left Parietal_HIVECOTE2_acc,Right Parietal_HIVECOTE2_acc,Occipital_HIVECOTE2_acc
0,13,0.644524,0.669524,0.622302,0.644524,0.619524,0.641746,0.644524,0.641746,0.666746,0.613175,0.593730,0.641746,0.644524
1,37,0.659444,0.637222,0.659444,0.703889,0.723889,0.661667,0.637222,0.703889,0.659444,0.681667,0.659444,0.659444,0.659444

EC_8_expts

   random_state  Frontal_HIVECOTE2_acc  Occipital_HIVECOTE2_acc
0            13                   0.64                     0.60
1            37                   0.56                     0.76

N1_full_expts

,random_state,Prefrontal_HIVECOTE2_acc,Frontal_HIVECOTE2_acc,Left Frontal_HIVECOTE2_acc,Right Frontal_HIVECOTE2_acc,Central_HIVECOTE2_acc,Left Central_HIVECOTE2_acc,Right Central_HIVECOTE2_acc,Left Temporal_HIVECOTE2_acc,Right Temporal_HIVECOTE2_acc,Parietal_HIVECOTE2_acc,Left Parietal_HIVECOTE2_acc,Right Parietal_HIVECOTE2_acc,Occipital_HIVECOTE2_acc
0,13,0.716111,0.805556,0.788333,0.711111,0.800556,0.826111,0.806111,0.828889,0.808333,0.828333,0.800556,0.751111,0.786111
1,37,0.733333,0.733333,0.733333,0.803333,0.683333,0.780556,0.760556,0.805556,0.733333,0.753333,0.753333,0.733333,0.778333

N3_full_expts

,random_state,Prefrontal_HIVECOTE2_acc,Frontal_HIVECOTE2_acc,Right Frontal_HIVECOTE2_acc,Central_HIVECOTE2_acc,Right Central_HIVECOTE2_acc,Parietal_HIVECOTE2_acc
0,13,0.623889,0.579444,0.601667,0.599444,0.576667,0.623889
1,37,0.580000,0.644444,0.627222,0.622222,0.627222,0.622222

REM_full_expts

,random_state,Prefrontal_HIVECOTE2_acc,Frontal_HIVECOTE2_acc,Right Frontal_HIVECOTE2_acc,Central_HIVECOTE2_acc,Right Central_HIVECOTE2_acc,Left Temporal_HIVECOTE2_acc,Left Parietal_HIVECOTE2_acc,Right Parietal_HIVECOTE2_acc,Occipital_HIVECOTE2_acc
0,13,0.619524,0.619524,0.597302,0.619524,0.572302,0.597302,0.597302,0.622302,0.644524
1,37,0.599444,0.703889,0.681667,0.661667,0.641667,0.621667,0.621667,0.597222,0.663889

EC_full_expts

,random_state,Left Central_HIVECOTE2_acc,Right Central_HIVECOTE2_acc,Left Temporal_HIVECOTE2_acc,Right Parietal_HIVECOTE2_acc,Occipital_HIVECOTE2_acc
0,13,0.619048,0.685714,0.652381,0.619048,0.652381
1,37,0.666667,0.566667,0.633333,0.600000,0.600000

['N2_full_expts']
Expt Type: 2
N2_120_expt_files_v2

,random_state,Frontal_HIVECOTE2_acc,Central_HIVECOTE2_acc,Right Central_HIVECOTE2_acc,Left Temporal_HIVECOTE2_acc
0,13,0.688889,0.602778,0.686111,0.691667
1,37,0.628968,0.606746,0.578175,0.628175

N1_full_expts

   random_state  Left Frontal_HIVECOTE2_acc  Left Temporal_HIVECOTE2_acc
0            13                    0.633030                     0.647879
1            37                    0.568788                     0.587273

['N1_customised_40_expt_files', 'N3_82_expt_files', 'REM_19_expt_files', 'EC_8_expts', 'N2_full_expts', 'N3_full_expts', 'REM_full_expts', 'EC_full_expts']
C_I_F
Expt Type: 1
N1_customised_40_expt_files

,random_state,Frontal_C_I_F_acc,Central_C_I_F_acc,Left Central_C_I_F_acc,Parietal_C_I_F_acc,Left Parietal_C_I_F_acc,Occipital_C_I_F_acc
0,13,0.671667,0.646667,0.585000,0.579444,0.549444,0.569444
1,37,0.641111,0.680556,0.708333,0.750556,0.680556,0.636111

N2_120_expt_files_v2

   random_state  Frontal_C_I_F_acc  Parietal_C_I_F_acc
0            13           0.755556            0.687302
1            37           0.578413            0.518730

N3_82_expt_files

   random_state  Parietal_C_I_F_acc  Occipital_C_I_F_acc
0            13            0.596825             0.625397
1            37            0.603492             0.625714

REM_19_expt_files

   random_state  Prefrontal_C_I_F_acc
0            13              0.577857
1            37              0.659444

EC_8_expts

,random_state,Left Frontal_C_I_F_acc,Right Frontal_C_I_F_acc,Left Central_C_I_F_acc,Right Central_C_I_F_acc,Occipital_C_I_F_acc
0,13,0.56,0.60,0.68,0.64,0.88
1,37,0.64,0.72,0.68,0.56,0.84

N1_full_expts

,random_state,Left Frontal_C_I_F_acc,Right Frontal_C_I_F_acc,Central_C_I_F_acc,Left Central_C_I_F_acc,Right Central_C_I_F_acc,Left Temporal_C_I_F_acc,Right Temporal_C_I_F_acc,Parietal_C_I_F_acc,Left Parietal_C_I_F_acc,Right Parietal_C_I_F_acc,Occipital_C_I_F_acc
0,13,0.532222,0.654444,0.566667,0.676667,0.654444,0.580000,0.601667,0.573889,0.569444,0.621111,0.546111
1,37,0.707778,0.635556,0.683333,0.658333,0.578333,0.683333,0.680556,0.705556,0.680556,0.661111,0.705556

N3_full_expts

,random_state,Central_C_I_F_acc,Right Central_C_I_F_acc,Left Temporal_C_I_F_acc
0,13,0.621111,0.535000,0.616111
1,37,0.644444,0.689444,0.647222

EC_full_expts

,random_state,Frontal_C_I_F_acc,Left Frontal_C_I_F_acc,Right Frontal_C_I_F_acc,Left Central_C_I_F_acc,Right Central_C_I_F_acc,Right Temporal_C_I_F_acc,Parietal_C_I_F_acc,Left Parietal_C_I_F_acc,Occipital_C_I_F_acc
0,13,0.719048,0.52381,0.52381,0.585714,0.552381,0.547619,0.580952,0.652381,0.614286
1,37,0.600000,0.70000,0.70000,0.700000,0.666667,0.666667,0.733333,0.766667,0.733333

['N2_full_expts', 'REM_full_expts']
Expt Type: 2
N2_120_expt_files_v2

   random_state  Left Temporal_C_I_F_acc  Parietal_C_I_F_acc
0            13                 0.608333            0.600000
1            37                 0.606746            0.605159

EC_8_expts

   random_state  Prefrontal_C_I_F_acc  Right Frontal_C_I_F_acc
0            13              0.642857                 0.676190
1            37              0.666667                 0.728571

REM_full_expts

   random_state  Right Frontal_C_I_F_acc
0            13                 0.638990
1            37                 0.570396

EC_full_expts

   random_state  Prefrontal_C_I_F_acc  Right Frontal_C_I_F_acc
0            13               0.62500                 0.735714
1            37               0.60754                 0.583333

['N1_customised_40_expt_files', 'N3_82_expt_files', 'REM_19_expt_files', 'N1_full_expts', 'N2_full_expts', 'N3_full_expts']
Dr_C_I_F
Expt Type: 1
N1_customised_40_expt_files

,random_state,Central_Dr_C_I_F_acc,Left Central_Dr_C_I_F_acc,Right Central_Dr_C_I_F_acc,Parietal_Dr_C_I_F_acc,Left Parietal_Dr_C_I_F_acc,Occipital_Dr_C_I_F_acc
0,13,0.646667,0.604444,0.673889,0.648889,0.596667,0.551667
1,37,0.607778,0.660556,0.628333,0.605556,0.652778,0.683333

N2_120_expt_files_v2

,random_state,Frontal_Dr_C_I_F_acc,Right Frontal_Dr_C_I_F_acc,Right Temporal_Dr_C_I_F_acc,Parietal_Dr_C_I_F_acc
0,13,0.720635,0.738095,0.742857,0.631746
1,37,0.511746,0.533968,0.551746,0.575873

N3_82_expt_files

   random_state  Right Central_Dr_C_I_F_acc  Parietal_Dr_C_I_F_acc
0            13                    0.590476               0.584127
1            37                    0.625714               0.647937

REM_19_expt_files

,random_state,Prefrontal_Dr_C_I_F_acc,Right Frontal_Dr_C_I_F_acc,Parietal_Dr_C_I_F_acc
0,13,0.625079,0.650873,0.600079
1,37,0.639444,0.635000,0.615000

EC_8_expts

,random_state,Left Frontal_Dr_C_I_F_acc,Right Frontal_Dr_C_I_F_acc,Left Central_Dr_C_I_F_acc,Right Central_Dr_C_I_F_acc,Occipital_Dr_C_I_F_acc
0,13,0.60,0.52,0.60,0.72,0.84
1,37,0.72,0.68,0.72,0.56,0.80

N1_full_expts

,random_state,Prefrontal_Dr_C_I_F_acc,Frontal_Dr_C_I_F_acc,Left Frontal_Dr_C_I_F_acc,Right Frontal_Dr_C_I_F_acc,Central_Dr_C_I_F_acc,Left Central_Dr_C_I_F_acc,Right Central_Dr_C_I_F_acc,Left Temporal_Dr_C_I_F_acc,Right Temporal_Dr_C_I_F_acc,Parietal_Dr_C_I_F_acc,Left Parietal_Dr_C_I_F_acc,Right Parietal_Dr_C_I_F_acc,Occipital_Dr_C_I_F_acc
0,13,0.648889,0.643889,0.721111,0.643889,0.641667,0.718889,0.698889,0.576667,0.621667,0.691111,0.568889,0.598889,0.646111
1,37,0.777778,0.638333,0.735556,0.688333,0.688333,0.730556,0.700556,0.785556,0.705556,0.755556,0.708333,0.683333,0.711111

N2_full_expts

   random_state  Prefrontal_Dr_C_I_F_acc
0            13                 0.649444
1            37                 0.575556

EC_full_expts

,random_state,Left Central_Dr_C_I_F_acc,Parietal_Dr_C_I_F_acc,Left Parietal_Dr_C_I_F_acc,Occipital_Dr_C_I_F_acc
0,13,0.580952,0.580952,0.580952,0.547619
1,37,0.666667,0.633333,0.700000,0.766667

['N3_full_expts', 'REM_full_expts']
Expt Type: 2
EC_8_expts

,random_state,Prefrontal_Dr_C_I_F_acc,Left Frontal_Dr_C_I_F_acc,Right Frontal_Dr_C_I_F_acc
0,13,0.642857,0.676190,0.676190
1,37,0.661905,0.642857,0.752381

EC_full_expts

   random_state  Prefrontal_Dr_C_I_F_acc  Right Frontal_Dr_C_I_F_acc
0            13                 0.707143                    0.657143
1            37                 0.588492                    0.553968

['N1_customised_40_expt_files', 'N2_120_expt_files_v2', 'N3_82_expt_files', 'REM_19_expt_files', 'N1_full_expts', 'N2_full_expts', 'N3_full_expts', 'REM_full_expts']
Inception_Time
Expt Type: 1
N1_customised_40_expt_files

,random_state,Central_Inception_Time_acc,Left Temporal_Inception_Time_acc,Right Temporal_Inception_Time_acc,Parietal_Inception_Time_acc
0,13,0.666111,0.596111,0.600000,0.499444
1,37,0.611111,0.606111,0.678333,0.705556

N2_120_expt_files_v2

,random_state,Frontal_Inception_Time_acc,Central_Inception_Time_acc,Right Temporal_Inception_Time_acc
0,13,0.665079,0.698413,0.731746
1,37,0.578730,0.556825,0.684762

N3_82_expt_files

   random_state  Occipital_Inception_Time_acc
0            13                      0.663492
1            37                      0.610159

[]
Expt Type: 2
N1_customised_40_expt_files

   random_state  Left Temporal_Inception_Time_acc
0            13                          0.544848
1            37                          0.688788

N2_120_expt_files_v2

,random_state,Prefrontal_Inception_Time_acc,Frontal_Inception_Time_acc,Central_Inception_Time_acc
0,13,0.663889,0.655556,0.688889
1,37,0.580159,0.703175,0.652381

['N3_82_expt_files']